@import url("../lib/css/normalize.css");

/* GENERAL RULES */
.right {
  float:right;
}


div.MainContainer {
  width:100%;
  height:100%;
  background-color: #FEFEFE;
}

/*------------------------------------*\
    First Menu
\*------------------------------------*/

.thinMenu {
  position:relative;
  z-index:1;
  width:100px;
  height:100%;
  float:left;
  background-color: #313541;
  font-size:13px;
}
.thinMenu__item {
  width:100px;
  height:80px;
  text-align: center;
  margin: 0 auto;
  color:#687381;
  transition: all .5s;

}
.thinMenu__item>.fa{
  padding: 15px 0 5px 0;
  font-size: 30px;
  display:block;
}
.thinMenu__item:hover{
  background-color: #28BD8B; /*Green*/
  cursor:pointer;
  color:white;
  transition: all .5s;
}
.thinMenu__item.active{
  background-color: #EA5A5A; /*Pink*/
  color:white;
}

/*------------------------------------*\
    Second Menu
\*------------------------------------*/

.filterMenu {
  transition: left .5s;
  position:relative;
  left:-180px;
  z-index:0;

  width:260px;
  height:100%;
  float:left;
  background-color: #282C37;
  color:#4C5561;
  padding: 25px;

  /* This forces the browser to render the box with the specified width and height, and place the border and padding inside the box. */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.filterMenu:hover {
  transition: left .5s;
  left:0;
 }
.filterMenu__title{
  color:#6B6D75;
  padding:8px 20px;
  font-size: 15px;
}
.filterMenu__title .fa{ /*icon*/
  font-size: 25px;
  float:right;
}
.filterMenu__list {
  margin-top:20px;
  font-size: 14px;
  border-bottom: 1px solid #1F222D;
  padding-bottom: 20px;
}
.filterMenu__list li {
  padding:4px 20px;
  margin-bottom:5px;
  color:#74808F;
  cursor:pointer;
}
.filterMenu__list li:hover {
  color:white;
}
.filterMenu__list li:first-child {
  font-size: 15px;
  color:white;
  border-radius: 3px;
  padding:8px 20px;
}
.filterMenu__list.active li:first-child{
  background-color: #1F222D;
}




